<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="navigation" >
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand">TEST</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/manage/1}">
              유튜브
              <i class="bi bi-clipboard2-check"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/timeline}">
              타임라인
              <i class="bi bi-clipboard2-data"></i>
            </a>
          </li>
          <th:block th:if="${user == null}">
            <li class="nav-item">
              <a class="nav-link" href="https://id.twitch.tv/oauth2/authorize?response_type=code&client_id=jcmj66qmli9btfjppfvoxnh1i46vjt&redirect_uri=http://192.168.0.9:8080/login&scope=user%3Aread%3Aemail&state=c3ab8aa609ea11e793ae92361f002671">
                로그인
              </a>
            </li>
          </th:block>
          <th:block th:if="${user != null}">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/logout}">
                로그아웃
              </a>
            </li>
          </th:block>
        </ul>
      </div>
    </div>
  </nav>


</th:block>

</html>