<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
  <section th:fragment="content" class="page-section" id="contact">

    
    
    <!-- Standard button -->

    <div class="input-group mb-3">
      <select class="form-select" width="10px" aria-label="Default select example">
        <option value="0" selected>kumikomii</option>
        <option value="1">subtanker</option>
      </select>
      <input type="button" value="오늘" class="btn btn-primary">
      <input type="button" value="일주일" class="btn btn-primary">
      <input type="button" value="한달" class="btn btn-primary">


    </div>
    <div class="input-group mb-3">
      <input type="date" name="" id="">
      <span class="input-group-text">~</span>
      <input type="date" name="" id="">

    </div>
    <table class="table table-hover">
      <thead class="table-dark">
        <th class="g-col-xs-1" scope="col">조회수</th>
        <th class="g-col-xs-11" scope="col">제목</th>
      </thead>
      <tbody>
        <tr onclick="window.open('https://youtu.be/7KF1d4nlTmY?t=8688')">
          <td>120</td>
          <td>테스트 제목입니다. 1</td>
        </tr>
        <tr onclick="window.open('https://youtu.be/7KF1d4nlTmY?t=8688')">
          <td>100</td>
          <td>테스트 제목입니다. 2</td>
        </tr>
        <tr onclick="window.open('https://youtu.be/7KF1d4nlTmY?t=8688')">
          <td>80</td>
          <td>테스트 제목입니다. 3</td>
        </tr>
        <tr onclick="window.open('https://youtu.be/7KF1d4nlTmY?t=8688')">
          <td>60</td>
          <td>테스트 제목입니다. 4</td>
        </tr>
        <tr onclick="window.open('https://youtu.be/7KF1d4nlTmY?t=8688')">
          <td>40</td>
          <td>테스트 제목입니다. 5</td>
        </tr>
        <tr onclick="window.open('https://youtu.be/7KF1d4nlTmY?t=8688')">
          <td>20</td>
          <td>테스트 제목입니다. 6</td>
        </tr>
        
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>


  </section>

</th:block>






</html>