<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
  <section th:fragment="content" class="page-section" id="contact">

    
    
    <!-- Standard button -->

    <div class="input-group mb-3">
      <input type="date" name="" id="startDate">
      <span class="input-group-text">~</span>
      <input type="date" name="" id="endDate">
      <input id="todayBtn" type="button" value="오늘" class="btn btn-primary">
      <input id="weekBtn" type="button" value="일주일" class="btn btn-primary">
      <input id="monthBtn" type="button" value="한달" class="btn btn-primary">
      <input id="orderBtn" type="button" value="시간순" class="btn btn-primary">
    </div>
    <table class="table table-hover">
      <thead class="table-dark">
        <th class="g-col-xs-1" scope="col">시간</th>
        <th class="g-col-xs-1" scope="col">조회수</th>
        <th class="g-col-xs-10" scope="col">제목</th>
      </thead>
      <tbody id="timelineTable">
<!--        <tr onclick="window.open('https://youtu.be/7KF1d4nlTmY?t=8688')">-->
<!--          <td>120</td>-->
<!--          <td>테스트 제목입니다. 1</td>-->
<!--        </tr>-->
<!--        <tr onclick="window.open('https://youtu.be/7KF1d4nlTmY?t=8688')">-->
<!--          <td>100</td>-->
<!--          <td>테스트 제목입니다. 2</td>-->
<!--        </tr>-->
<!--        <tr onclick="window.open('https://youtu.be/7KF1d4nlTmY?t=8688')">-->
<!--          <td>80</td>-->
<!--          <td>테스트 제목입니다. 3</td>-->
<!--        </tr>-->
<!--        <tr onclick="window.open('https://youtu.be/7KF1d4nlTmY?t=8688')">-->
<!--          <td>60</td>-->
<!--          <td>테스트 제목입니다. 4</td>-->
<!--        </tr>-->
<!--        <tr onclick="window.open('https://youtu.be/7KF1d4nlTmY?t=8688')">-->
<!--          <td>40</td>-->
<!--          <td>테스트 제목입니다. 5</td>-->
<!--        </tr>-->
<!--        <tr onclick="window.open('https://youtu.be/7KF1d4nlTmY?t=8688')">-->
<!--          <td>20</td>-->
<!--          <td>테스트 제목입니다. 6</td>-->
<!--        </tr>-->
        
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul id="timelinepagenation" class="pagination">
<!--        <li class="page-item">-->
<!--          <a class="page-link" aria-label="Previous">-->
<!--            <span aria-hidden="true">&laquo;</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="page-item">-->
<!--          <a class="page-link" aria-label="Next">-->
<!--            <span aria-hidden="true">&raquo;</span>-->
<!--          </a>-->
<!--        </li>-->
      </ul>
    </nav>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button id="showtimeLineBtn" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalfade">타임라인 등록</button>
      </div>
      <form id="actionForm" onsubmit="return false">
          <div class="modal fade" id="modalfade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h1 class="modal-title fs-5"></h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">

                      </div>
                      <div class="modal-footer">

                      </div>
                  </div>
              </div>
          </div>
      </form>

  </section>

</th:block>






</html>