<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
  <section th:fragment="content" class="page-section" id="contact">


    <table class="table table-hover">
      <thead class="table-dark">
        <th class="g-col-xs-2" scope="col">시작시간</th>
        <th class="g-col-xs-8" scope="col">제목</th>
        <th class="g-col-xs-2" scope="col">길이</th>
      </thead>
      <tbody>
        <tr th:each="e: ${list}" class="youtube">
          <td style="display:none;" th:text="${e.youtubeId}"></td>
          <td th:text="${e.youtubeRecordStart}"></td>
          <td th:text="${e.youtubeTitle}"></td>
          <td th:text="${e.youtubeLength}"></td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <th:block th:if="${paging.isPrev}">
          <li class="page-item">
            <a class="page-link" th:href="@{/manage/{page}(page = ${#numbers.formatInteger(paging.currentPage,3)}-1)}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        </th:block>
        <th:block th:if="${paging.isNext}">
          <li class="page-item">
            <a class="page-link" th:href="@{/manage/{page}(page = ${#numbers.formatInteger(paging.currentPage,3)}+1)}"  aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </th:block>

      </ul>
    </nav>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button id="showInsertBtn" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalfade">등록</button>
      <button id="showtimeLineBtn" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalfade">타임라인 등록</button>
    </div>

    <!-- Action Modal -->
    <!-- 팝업창 두 개 비슷하니 하나로 합치기 -->
    <!-- modify Modal -->
    <form id="actionForm" onsubmit="return false">
      <div class="modal fade" id="modalfade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5"></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">

            </div>
          </div>
        </div>
      </div>
    </form>

<!--    &lt;!&ndash; create Modal &ndash;&gt;-->
<!--    <form id="youtubeInsertForm" method="post" th:action="@{/youtube_insert}">-->
<!--      <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--        <div class="modal-dialog">-->
<!--          <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--              <h1 class="modal-title fs-5" id="exampleModalLabel">유튜브 등록</h1>-->
<!--              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <input type="text" name="testdate" class="form-control" placeholder="녹화를 시작한 시각(녹화파일이름 기준)">-->
<!--                <input type="text" name="testurl" class="form-control" placeholder="유튜브 링크">-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--              <button type="button" id="youtubeInsertBtn" class="btn btn-primary">저장</button>-->
<!--              <button type="button" id="youtubeUpdateBtn" class="btn btn-primary">저장</button>-->
<!--              <button type="button" id="youtubeRemoveBtn" class="btn btn-danger">삭제</button>-->
<!--              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </form>-->
<!--    -->
<!--    &lt;!&ndash; modify Modal &ndash;&gt;-->
<!--    <form id="youtubeUpdateForm" method="post" th:action="@{/youtube_update}">-->
<!--      <div class="modal fade" id="modalfade" tabindex="-2" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--        <div class="modal-dialog">-->
<!--          <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--              <h1 class="modal-title fs-5" id="exampleModalLabel">유튜브 수정</h1>-->
<!--              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--              <input type="hidden" id="modYoutubeId" name="id">-->
<!--              <input type="text" id="modYoutubeDateTxt" name="date" class="form-control" placeholder="녹화를 시작한 시각(녹화파일이름 기준)">-->
<!--              <input type="text" id="modYoutubeUrlTxt" name="url" class="form-control" placeholder="유튜브 링크">-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--              <button type="button" id="youtubeUpdateBtn" class="btn btn-primary">저장</button>-->
<!--              <button type="button" id="youtubeRemoveBtn" class="btn btn-danger">삭제</button>-->
<!--              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </form>-->



  </section>

</th:block>






</html>