<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
  <section th:fragment="content" class="page-section" id="contact">

    
    
    <!-- Standard button -->
    <form id="youlist_form">

      <table class="table table-hover">
        <thead class="table-dark">
          <th class="g-col-xs-2" scope="col">시작시간</th>
          <th class="g-col-xs-8" scope="col">제목</th>
          <th class="g-col-xs-2" scope="col">길이</th>
        </thead>
        <tbody>
          <tr>
            <td>22/01/20 23:00:00</td>
            <td>테스트 제목입니다. 1</td>
            <td>03:00:20</td>
          </tr>
          <tr>
            <td>22/01/20 23:00:00</td>
            <td>테스트 제목입니다. 2</td>
            <td>03:00:20</td>
          </tr>
          <tr>
            <td>22/01/20 23:00:00</td>
            <td>테스트 제목입니다. 3</td>
            <td>03:00:20</td>
          </tr>
          <tr>
            <td>22/01/20 23:00:00</td>
            <td>테스트 제목입니다. 4</td>
            <td>03:00:20</td>
          </tr>
          <tr>
            <td>22/01/20 23:00:00</td>
            <td>테스트 제목입니다. 5</td>
            <td>03:00:20</td>
          </tr>
          <tr>
            <td>22/01/20 23:00:00</td>
            <td>테스트 제목입니다. 6</td>
            <td>03:00:20</td>
          </tr>
          
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">등록</button>
      </div>
      
    </form>

    <!-- create Modal -->
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">유튜브 등록</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <input type="text" class="form-control" placeholder="녹화를 시작한 시각(녹화파일이름 기준)">
              <input type="text" class="form-control" placeholder="유튜브 제목">
              <input type="text" class="form-control" placeholder="유튜브 링크">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">저장</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- modify Modal -->
    <div class="modal fade" id="modifyModal" tabindex="-2" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">유튜브 수정</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="text" class="form-control" placeholder="녹화를 시작한 시각(녹화파일이름 기준)">
            <input type="text" class="form-control" placeholder="유튜브 제목">
            <input type="text" class="form-control" placeholder="유튜브 링크">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">저장</button>
            <button type="button" class="btn btn-danger">삭제</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          </div>
        </div>
      </div>
    </div>




  </section>

</th:block>






</html>